select{
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.pub-head{
    padding: 0 0 0 210px;
}
.pub-head-logo{
    width: 210px;
    margin-left: -210px;
}
.pub-head-logo .logo{
    display: block;
    height: 70px;
    background: url("http://lorempixel.com/200/70/cats/") no-repeat;
}
.pub-head-main{
    width: 100%;
}

.cmspages{
    padding: 20px 0;
}
.cmspages-head-menu label.yui3-u{
    color: #fff;
}
.cmspages-content-menu{
    width: 210px;
    margin-left: -210px;
}
.cmspages-content-menu-bd{
    padding-right: 10px;
}
.cmspages-layout{
    padding: 0 0 0 210px;
}
.pub-table th,.pub-table td{
    display: table-cell;
    min-height: 30px;
}
.pub-table{
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
}
.pub-table td,.pub-table th{
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}
.pub-table thead th{
    border-bottom-width: 2px;
    background: #eee;
}
.pub-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pub-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pub-table td,
.pub-table th {
    display: table-cell;
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
   /* padding: 0.5em 1em;*/ /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pub-table td:first-child,
.pub-table th:first-child {
    border-left-width: 0;
}

.pub-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pub-table td {
    background-color: transparent;
}
.pub-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.pub-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pub-table td {
    border-bottom: 1px solid #cbcbcb;
}
.pub-table tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.pub-table-horizontal td,
.pub-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.pub-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}
/*.pub-table .active{*/
    /*background: #eee;*/
/*}*/
.course-dialog select{
    width: 220px;
}
.course-info-hd{
    position: relative;
    margin: 0 0 10px;
    min-height: 30px;
}
.course-info-hd a.cp-button{
    margin: 0 10px 0 0;
}
.class-set .grade-select{
    position: absolute;
    top: 0;
    right: 20px;
}
.class-set .grade-select label{
    margin-top: 6px;
}
.importtpl{
    margin: 50px;
}
.importtpl p{
    margin: 0 0 10px;
}
.importtpl p a{
    color: #F60;
    text-decoration: underline;
}
.add-teach li{
    width: auto;
}
.add-teach dl{
    width: 280px;
    margin-right: -1px;
}
.add-teach dd{
    margin-right: 15px;
}
.add-teach input[type="checkbox"]{
    margin: 5px 10px 5px 0
}
.datagrid-toolbar{
    padding: 10px;
}
.datagrid-toolbar .fa{
    margin: 5px 5px 0 0;
}
.datagrid-toolbar a{
    padding: 0 10px;
    margin: 0 4px;
}

.datagrid-view .validatebox-text{
    height: auto;
    line-height: 1;
}
.course-dialog.prompt p{
    margin: 50px;
}
.course-dialog .prompt-ft{
    text-align: center;
}
.course-dialog .prompt-ft a{
    margin: 0 10px;
}

.course-time ul{
    margin: 10px 0 0;
}
.course-time li{
    margin: 0 15px 20px 0;
}
.course-time li input[type="checkbox"]{
    vertical-align: -12%;
    margin: 0 5px 0 0;
}
.spinner .textbox-text, .spinner .validatebox-text{
    height: auto;
    line-height: 1;
}
.public-time .textbox-text{
    /*display: inline-block;*/
    /*outline: none;*/
    /*border: 0;*/
}
.public-time .textbox .textbox-text {
    font-size: 12px;
    border: 0;
    margin: 0;
    padding: 4px;
    white-space: normal;
    vertical-align: top;
    outline-style: none;
    resize: none;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.public-time li .spinner{
    margin: 5px;
}
.public-time li em{
    margin-top: 8px;
}
.publictime-delete ul{
    padding: 40px 10px 20px;
}
.publictime-delete li{
    padding: 0 15px 10px 0;
}
.publictime-delete li input[type="checkbox"]{
    margin: 0 5px 0 0;
    vertical-align: -2px;
}
.add-course .textbox-text{
    width: 200px!important;
}
.pub-tabs{
    margin-bottom: 20px;
}

.course-info-hd li{
    margin-left: 20px;
}
.course-info-title{
    margin-bottom: 20px;
    font-size: 14px;
}
.course-info.time-table .course-info-hd{
    margin-bottom: 20px;
}
.course-info-bd-tp{
    position: relative;
    margin: 0 0 10px;
    min-height: 30px;
}
.course-info-bd-tp h3{
    font-size: 14px;
    padding: 8px 0 0;
}
.course-info-bd-tp ul{
    position: absolute;
    top: 0;
    right: 20px;
}
.course-info-bd-tp ul li{
    margin-left: 20px;
}
.time-table a.newtimetable{
    position: absolute;
    top: -35px;
    right: 20px;
    margin: 0;
}
.course-info.time-table .grade-select{
    left: -20px;
}
#more-box{
    position: absolute;
    display: none;
}
#more-box dl{
    background: #fff;border:1px solid #ddd;border-radius:3px;width: 100px;margin: 3px 0 0 5px;
}
#more-box dd a{
    display: block;
    padding: 8px 10px;
}
#more-box dd a:hover{
    background: #E5F2FF;
}

.cmspages-dialog-bd .export-table ul{
    width: 500px;
    margin: 20px auto;
}
.cmspages-dialog-bd .export-table li a{
    display: block;
    height: 100px;
    line-height: 100px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.cmspages-dialog-bd .export-table a:hover{
    background: #eee;
}
.cmspages-dialog-bd .export-table p{
   text-align: center;
}
.cmspages-dialog-bd .export-table h3{
    text-align: center;
    font-size: 14px;
}
.cmspages-dialog-bd .newcreate{
    margin: 40px 0 0;
    padding: 0 30px;
}
.cmspages-dialog-bd .newcreate p{
    line-height: 1.6;
}
.cmspages-dialog-bd .newcreate .ft-button{
    text-align: center;
    margin-top: 20px;
}
.cmspages-dialog-bd .newcreate .ft-button a.cp-button{
    margin: 0 10px;
}

/*timetable*/
.drop-nav {
    width: 800px;
    margin: auto;
    padding: 20px 0;
}
p.prompt{
    color: #fff;
    background: #C1CD07;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.timetable table{
    margin: auto;
}
.drop-nav fieldset{
    padding:10px 0px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
.drop-nav fieldset legend{
    margin-left: 15px;
}
.timetable-wrap .button {
    text-align: right;
    padding: 10px;
}
.timetable{
    width: 800px;
    /*margin: auto;*/
}
.timetable td.drop{
    background:#fff;
    width:115px;
}
.timetable td.over{
    background:#C1CD07;
}
.timetable .nodrop div{
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #eee;
    /*padding: 5px 0;*/
}
.timetable-wrap .item{
    text-align:center;
    background:#fff;
    color:#444;
    width:115px;
    /*height: 32px;*/
    /*padding: 5px 0;*/
    border: 1px solid #ddd;
    border-radius: 3px;
}
.timetable-wrap .left .item{
    border: 1px solid #ddd;
    border-radius: 3px;
}
.timetable-wrap .left li{
    margin: 5px 8px;
}
.timetable-wrap .assigned{

}
.timetable-wrap .trash{
    background-color:#f60;
}
.timetable-wrap .trash p{
    color: #fff;
}
/*timetable end*/

/*change-teach*/
.change-teach{
    position: relative;
}
.change-teach .cp-button{
    position: absolute;
    top: 15px;
    right: 0;
}
.change-teach .prompt{
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.change-teach tbody td select{
    width: 80px;
    padding: 0px 5px;
    display: none;
    margin: 3px 0 0;
    font-size: 12px;
}
.change-teach tbody td{
    height: 40px;
}
.change-teach tbody td.on select{
    display: inline-block;
}
/*change-teach end*/