<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/yahoo-reset.css"/>
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../assets/css/dialog.css"/>
    <link rel="stylesheet" href="../assets/css/base.css"/>
    <link rel="stylesheet" href="../assets/css/core.css"/>
</head>
<body>
<!--user-menu-->
<div class="user-menu yui3-g">
    <div class="user-menu-hd yui3-u">
        <a href="" class="yui3-u easyui-menubutton" data-options="menu:'#user-menu-content'">ASDFSDF<i class="fa fa-caret-down fa-blue fa-3x"></i></a>
        <div id="user-menu-content" class="menu-content" style="position: absolute;">
            <div class="user-menu-content-bd">
                <i class="fa fa-caret-up fa-2x"></i>
                <ul>
                    <li>
                        <a href="../message.html">消息</a>
                    </li>
                    <li>
                        <a href="../bind.html">绑定</a>
                    </li>
                    <li>
                        <a href="../userinfo-set.html">设置</a>
                    </li>
                    <li>
                        <a href="">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--user-menu end-->

<!--pub-head-->
<div class="pub-head yui3-g">
    <div class="yui3-u pub-head-logo">
        <a class="logo" href=""></a>
    </div>
    <div class="yui3-u pub-head-main">
        <!--cmspages-head-->
        <div class="cmspages-head yui3-g">
            <div class="cmspages-head-menu yui3-u" >
                <!--<img class="yui3-u" src="http://lorempixel.com/48/48/cats/" alt=""/>-->
                <label class="yui3-u">东田教育教务管理系统</label>
                <!--<i class="fa fa-angle-down fa-3x"></i>-->
            </div>
        </div>
        <!--cmspages-head end-->
    </div>
</div>
<!--pub-head end-->

<div class="cmspages">
    <div class="cmspages-layout yui3-g">
        <div class="cmspages-content-menu yui3-u">
            <div class="cmspages-content-menu-bd">
                <ul>
                    <li>
                        <a class="on" href="javascript:void(0)">班级设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课程设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">授课教师设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课时设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课程设置</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cmspages-content yui3-u">
            <div class="pub-breadcrumb-wrap">
                <ol class="pub-breadcrumb yui3-g">
                    <li class="yui3-u"><a href="#">广州荔湾环翠园小学2014学年-2015学年排课表</a></li>
                    <li class="yui3-u active">课时统计</li>
                </ol>
                <a href="" class="yui3-u cp-button return">返回</a>
            </div>
            <div class="pub-tabs">
                <ul class="yui3-g">
                    <li class="yui3-u"><a href="./teachTime.html">教师课时统计</a></li>
                    <li class="yui3-u active"><a href="./classTime.html">班级课时统计</a></li>
                    <li class="yui3-u"><a href="./idleTeach.html">查询空闲教师</a></li>
                </ul>
            </div>

            <div class="course-info class-set course-operate">
                <div class="course-info-hd">
                    <a class="yui3-u cp-button" href="#add-class">下载</a>
                    <ul class="grade-select yui3-u">
                        <li class="yui3-u">
                            <label class="yui3-u">年级：</label>
                            <select name="" id="" class="yui3-u">
                                <option value="">一年级</option>
                                <option value="">二年级</option>
                            </select>
                        </li>
                        <li class="yui3-u">
                            <label class="yui3-u">班级：</label>
                            <select name="" id="" class="yui3-u">
                                <option value="">1班</option>
                                <option value="">1班</option>
                                <option value="">1班</option>
                            </select>
                        </li>
                        <li class="yui3-u">
                            <input type="submit" class="yui3-u cp-button" value="查询"/>
                        </li>
                    </ul>
                </div>
                <div class="course-info-bd">
                    <table class="pub-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>语文</th>
                        <th>数学</th>
                        <th>英语</th>
                        <th>美术</th>
                        <th>体育</th>
                        <th>自然</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            总计
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            100
                        </td>
                        <td>
                            100
                        </td>
                    </tr>
                    <tr>
                        <td>一年1班</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>一年1班</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <div class="pagination">
                <a href="">&lt;</a>
                <a class="on" href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">&gt;</a>
            </div>
        </div>
    </div>
</div>


<script src="../assets/js/lib/jquery.js"></script>
<script src="../assets/js/require.js"></script>
<script>
    require(["easyui/easyloader","lib/dialog"],function(){
        easyloader.load("numberbox");
        $('.nyroModal').nyroModal({closeButton: '<a href="#" class="nyroModalClose nyroModalCloseButton nmReposition fa fa-times-circle fa-2x" title="close"></a>'});
    })
</script>
</body>
</html>