<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/yahoo-reset.css"/>
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../assets/css/dialog.css"/>
    <link rel="stylesheet" href="../assets/css/base.css"/>
    <link rel="stylesheet" href="../assets/css/core.css"/>
    <link rel="stylesheet" href="../assets/css/setClass.css"/>
    <style>
        .datebox .textbox-text{
            width: 175px!important;
        }
        .datebox .textbox-text:focus{
            outline: 0;
        }
        .datebox  .textbox-addon-right{
            top: 5px!important;
            right: 5px!important;
        }
    </style>
</head>
<body>
<!--user-menu-->
<div class="user-menu yui3-g">
    <div class="user-menu-hd yui3-u">
        <a href="" class="yui3-u easyui-menubutton" data-options="menu:'#user-menu-content'">ASDFSDF<i class="fa fa-caret-down fa-blue fa-3x"></i></a>
        <div id="user-menu-content" class="menu-content" style="position: absolute;">
            <div class="user-menu-content-bd">
                <i class="fa fa-caret-up fa-2x"></i>
                <ul>
                    <li>
                        <a href="../message.html">消息</a>
                    </li>
                    <li>
                        <a href="../bind.html">绑定</a>
                    </li>
                    <li>
                        <a href="../userinfo-set.html">设置</a>
                    </li>
                    <li>
                        <a href="">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--user-menu end-->

<!--pub-head-->
<div class="pub-head yui3-g">
    <div class="yui3-u pub-head-logo">
        <a class="logo" href=""></a>
    </div>
    <div class="yui3-u pub-head-main">
        <!--cmspages-head-->
        <div class="cmspages-head yui3-g">
            <div class="cmspages-head-menu yui3-u" >
                <!--<img class="yui3-u" src="http://lorempixel.com/48/48/cats/" alt=""/>-->
                <label class="yui3-u">东田教育教务管理系统</label>
                <!--<i class="fa fa-angle-down fa-3x"></i>-->
            </div>
        </div>
        <!--cmspages-head end-->
    </div>
</div>
<!--pub-head end-->

<div class="cmspages">
    <div class="cmspages-layout yui3-g">
        <div class="cmspages-content-menu yui3-u">
            <div class="cmspages-content-menu-bd">
                <ul>
                    <li>
                        <a class="on" href="javascript:void(0)">班级设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课程设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">授课教师设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课时设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课程设置</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cmspages-content yui3-u">
            <div class="pub-breadcrumb-wrap mr10">
                <div class="pub-heading-tips">
                    <span class="tips">1、新建排课任务<em class="rarr">&rarr;</em>2、添加约束条件<em class="rarr">&rarr;</em>3、自动排课</span>
                </div>
            </div>
            <div class="content-main mr10">
                <form class="set-class-form" method="post" action="">
                    <div class="form-grounp mb20" style="padding-left: 27px;">
                        <label>课表名字：</label>
                        <input type="text" class="input-control">
                    </div>
                    <div class="form-grounp mb20" style="padding-left: 16px;">
                        <label class="fl">课表名字：</label>
                        <div class="cheack-box">
                            <div class="cheack-box-sub">
                                <label class="fl ml15">一年级：</label>
                                <ul class="cheack-grounp">
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                </ul>
                            </div>
                            <div class="cheack-box-sub">
                                <label class="fl ml15">一年级：</label>
                                <ul class="cheack-grounp">
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                </ul>
                            </div>
                            <div class="cheack-box-sub">
                                <label class="fl ml15">一年级：</label>
                                <ul class="cheack-grounp">
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                    <li class="grounp-list"><label><input type="checkbox" value="" name="">语文</label></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="form-grounp mb20" style="height: 32px;">
                        <label style="position: relative; top: 5px;">学期开始日期：</label>
                        <input class="easyui-datebox input-control" required data-options="panelWidth:198,validType:'md[\'10/11/2012\']'" id="" name="startDate" value=""></input>
                    </div>
                    <div class="form-grounp" style="height: 32px;">
                        <label style="position: relative; top: 5px;">学期开始日期：</label>
                        <input class="easyui-datebox input-control" required data-options="panelWidth:198, validType:'md[\'10/11/2012\']'" id="" name="endtDate" value=""></input>
                    </div>
                    <p class="sum mb20">共计20周</p>
                    <div class="form-grounp btn-box">
                        <input type="submit" class="yui3-u cp-button nex-btn" value="保存，下一步">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/lib/jquery.js"></script>
<script src="../assets/js/require.js"></script>
<script>
    require(["easyui/easyloader","lib/dialog"],function(){
        easyloader.load("datebox",function(){
            $.extend($.fn.validatebox.defaults.rules, {
                md: {
                    validator: function(value, param){
                        var d1 = $.fn.datebox.defaults.parser(param[0]);
                        var d2 = $.fn.datebox.defaults.parser(value);
                        return d2<=d1;
                    },
                    message: 'The date must be less than or equals to {0}.'
                }
            });
        });
    })
</script>
</body>
</html>