<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/yahoo-reset.css"/>
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../assets/css/dialog.css"/>
    <link rel="stylesheet" href="../assets/css/base.css"/>
    <link rel="stylesheet" href="../assets/css/core.css"/>
    <link rel="stylesheet" href="../assets/css/setClass.css"/>
    <link rel="stylesheet" href="../assets/js/lib/artDialog4/skins/default.css">
    <link rel="stylesheet" href="../assets/js/lib/jquery-easyui-1.4.2/themes/bootstrap/tree.css">
</head>
<body>
<!--user-menu-->
<div class="user-menu yui3-g">
    <div class="user-menu-hd yui3-u">
        <a href="" class="yui3-u easyui-menubutton" data-options="menu:'#user-menu-content'">ASDFSDF<i class="fa fa-caret-down fa-blue fa-3x"></i></a>
        <div id="user-menu-content" class="menu-content" style="position: absolute;">
            <div class="user-menu-content-bd">
                <i class="fa fa-caret-up fa-2x"></i>
                <ul>
                    <li>
                        <a href="../message.html">消息</a>
                    </li>
                    <li>
                        <a href="../bind.html">绑定</a>
                    </li>
                    <li>
                        <a href="../userinfo-set.html">设置</a>
                    </li>
                    <li>
                        <a href="">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--user-menu end-->

<!--pub-head-->
<div class="pub-head yui3-g">
    <div class="yui3-u pub-head-logo">
        <a class="logo" href=""></a>
    </div>
    <div class="yui3-u pub-head-main">
        <!--cmspages-head-->
        <div class="cmspages-head yui3-g">
            <div class="cmspages-head-menu yui3-u" >
                <!--<img class="yui3-u" src="http://lorempixel.com/48/48/cats/" alt=""/>-->
                <label class="yui3-u">东田教育教务管理系统</label>
                <!--<i class="fa fa-angle-down fa-3x"></i>-->
            </div>
        </div>
        <!--cmspages-head end-->
    </div>
</div>
<!--pub-head end-->

<div class="cmspages">
    <div class="cmspages-layout yui3-g">
        <div class="cmspages-content-menu yui3-u">
            <div class="cmspages-content-menu-bd">
                <ul>
                    <li>
                        <a class="on" href="javascript:void(0)">班级设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课程设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">授课教师设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课时设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课程设置</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cmspages-content yui3-u">
            <div class="pub-breadcrumb-wrap mr10">
                <ul class="yui3-g">
                    <li class="yui3-u-1-3 on">
                        <div class="pub-heading-tips">
                            1 新建排课任务
                        </div>
                    </li>
                    <li class="yui3-u-1-3 on">
                        <div class="pub-heading-tips">
                            2 选择排课类型
                        </div>
                    </li>
                    <li class="yui3-u-1-3">
                        <div class="pub-heading-tips">
                            3 自动排课
                        </div>
                    </li>
                </ul>
            </div>
            <div class="course-info-bd mr10 mt20">
                <table class="pub-table course-type">
                    <thead>
                    <tr>
                        <th width="5%"></th>
                        <th width="70%">排课类型</th>
                        <th width="25%">选择</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            小学普通课表
                        </td>
                        <td>
                            <label><input type="radio" name="course-table" checked/></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            小学单双周课表
                        </td>
                        <td>
                            <label><input type="radio" name="course-table"/></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            初中普通课表
                        </td>
                        <td>
                            <label><input type="radio" name="course-table"/></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            高中普通课表
                        </td>
                        <td>
                            <label><input type="radio" name="course-table"/></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            高中单双周课表
                        </td>
                        <td>
                            <label><input type="radio" name="course-table"/></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="footer-btn-box">
                    <a href="" class="yui3-u cp-button mr10">上一步</a>
                    <button class="yui3-u cp-button">开始排课</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/lib/jquery.js"></script>
<script src="../assets/js/require.js"></script>
<script>
    require(["easyui/easyloader"])
</script>
</body>
</html>