<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<div id="teach-table" style="display: block">
    <div class="cmspages-dialog">
        <div class="cmspages-dialog-hd">
            <h3>教师课程表</h3>
        </div>
        <div class="cmspages-dialog-bd">
            <div class="course-dialog teach-table">
                <div class="teach-table-tab">
                    <a href="" class="prev"><i class="fa fa-arrow-circle-left fa-2x fa-green"></i></a>
                    <a href="" class="next"><i class="fa fa-arrow-circle-right fa-2x fa-green"></i></a>
                    <p>第3周<span>2015-01-11</span></p>
                </div>
                <table class="pub-table">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>周一</th>
                        <th>周二</th>
                        <th>周三</th>
                        <th>周四</th>
                        <th>周五</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <p>第一节</p>
                            <p>08:00-09:00</p>
                        </td>
                        <td>
                            <p>语文</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>语文</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>第二节</p>
                            <p>09:00-10:00</p>
                        </td>
                        <td>
                            <p>语文</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>语文</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>第三节</p>
                            <p>11:00-12:00</p>
                        </td>
                        <td>
                            <p>语文</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>语文</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                        <td>
                            <p>数学</p>
                            <p>一年级1班</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>