<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/yahoo-reset.css"/>
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../assets/css/dialog.css"/>
    <link rel="stylesheet" href="../assets/css/base.css"/>
    <link rel="stylesheet" href="../assets/css/core.css"/>
</head>
<body>
<!--user-menu-->
<div class="user-menu yui3-g">
    <div class="user-menu-hd yui3-u">
        <a href="" class="yui3-u easyui-menubutton" data-options="menu:'#user-menu-content'">ASDFSDF<i class="fa fa-caret-down fa-blue fa-3x"></i></a>
        <div id="user-menu-content" class="menu-content" style="position: absolute;">
            <div class="user-menu-content-bd">
                <i class="fa fa-caret-up fa-2x"></i>
                <ul>
                    <li>
                        <a href="../message.html">消息</a>
                    </li>
                    <li>
                        <a href="../bind.html">绑定</a>
                    </li>
                    <li>
                        <a href="../userinfo-set.html">设置</a>
                    </li>
                    <li>
                        <a href="">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--user-menu end-->

<!--pub-head-->
<div class="pub-head yui3-g">
    <div class="yui3-u pub-head-logo">
        <a class="logo" href=""></a>
    </div>
    <div class="yui3-u pub-head-main">
        <!--cmspages-head-->
        <div class="cmspages-head yui3-g">
            <div class="cmspages-head-menu yui3-u" >
                <!--<img class="yui3-u" src="http://lorempixel.com/48/48/cats/" alt=""/>-->
                <label class="yui3-u">东田教育教务管理系统</label>
                <!--<i class="fa fa-angle-down fa-3x"></i>-->
            </div>
        </div>
        <!--cmspages-head end-->
    </div>
</div>
<!--pub-head end-->

<div class="cmspages">
    <div class="cmspages-layout yui3-g">
        <div class="cmspages-content-menu yui3-u">
            <div class="cmspages-content-menu-bd">
                <ul>
                    <li>
                        <a class="on" href="javascript:void(0)">班级设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课程设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">授课教师设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课时设置</a>
                    </li>
                    <li>
                        <a class="" href="javascript:void(0)">课程设置</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cmspages-content yui3-u">
            <div class="course-info class-set time-table">
                <div class="course-info-title"><h3>学校：广州市荔湾区环翠园小学</h3></div>
                <div class="course-info-hd">
                    <a href="#create-table" class="cp-button yui3-u newtimetable nyroModal">新建排课</a>
                    <ul class="grade-select yui3-u">
                        <li class="yui3-u">
                            <label class="yui3-u">学期：</label>
                            <select name="" id="" class="yui3-u">
                                <option value="">2014-2015学年上学期</option>
                                <option value="">2014-2015学年上学期</option>
                                <option value="">2014-2015学年上学期</option>
                            </select>
                        </li>
                        <li class="yui3-u">
                            <label class="yui3-u">课程表：</label>
                            <select name="" id="" class="yui3-u">
                                <option value="">班级课程表</option>
                                <option value="">班级课程表</option>
                            </select>
                        </li>
                        <li class="yui3-u">
                            <label class="yui3-u">年级：</label>
                            <select name="" id="" class="yui3-u">
                                <option value="">一年级</option>
                                <option value="">二年级</option>
                            </select>
                        </li>
                        <li class="yui3-u">
                            <label class="yui3-u">班级：</label>
                            <select name="" id="" class="yui3-u">
                                <option value="">1班</option>
                                <option value="">2班</option>
                                <option value="">3班</option>
                            </select>
                        </li>
                        <li class="yui3-u">
                            <input type="submit" class="yui3-u cp-button" value="查询">
                        </li>
                    </ul>
                </div>
                <div class="course-info-bd">
                    <div class="course-info-bd-tp">
                        <h3>二年级（1）班课程表</h3>
                        <ul class="">
                            <li class="yui3-u"><a class="yui3-u cp-button" href="#" data-dialog="#timetable">临时调课</a></li>
                            <li class="yui3-u"><a class="yui3-u cp-button easyui-menubutton" href="#" data-options="menu:'#more-box'">更多操作</a></li>
                        </ul>
                        <div id="more-box" class="menu-content">
                            <dl>
                                <dd><a href="#export-table" class="nyroModal">导出课程表</a></dd>
                                <dd><a href="./teachTime.html">课程统计</a></dd>
                                <dd><a href="./courseRecord.html">调课记录</a></dd>
                            </dl>
                        </div>
                    </div>
                    <table class="pub-table">
                    <thead>
                    <tr>
                        <th class="yui3-u-1-6">时间</th>
                        <th class="yui3-u-1-6">周一</th>
                        <th class="yui3-u-1-6">周二</th>
                        <th class="yui3-u-1-6">周三</th>
                        <th class="yui3-u-1-6">周四</th>
                        <th class="yui3-u-1-6">周五</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>7:40-8:00</p>
                            </td>
                            <td colspan="5">
                                <p>早读</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>第一节</p>
                                <p>8:00-8:45</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>第二节</p>
                                <p>8:55-9:40</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>9:40-10:00</p>
                            </td>
                            <td colspan="5">
                                <p>课间操</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>第三节</p>
                                <p>10:00-10:45</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>10:45-11:05</p>
                            </td>
                            <td colspan="5">
                                <p>眼保健操</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>第四节</p>
                                <p>11:05-11:50</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>11:50-14:00</p>
                            </td>
                            <td colspan="5">
                                <p>午休</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>第五节</p>
                                <p>14:00-14:45</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>第六节</p>
                                <p>14:55-14:45</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>第七节</p>
                                <p>15:50-16:35</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                            <td>
                                <p>语文</p>
                                <p>李晓军</p>
                            </td>
                            <td>
                                <p>数学</p>
                                <p>张红</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="pagination">
                <a href="">&lt;</a>
                <a class="on" href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">&gt;</a>
            </div>
        </div>
    </div>
</div>


<div id="create-table" style="display: none">
    <div class="cmspages-dialog">
        <div class="cmspages-dialog-hd">
            <h3>新建排课任务</h3>
        </div>
        <div class="cmspages-dialog-bd">
            <div class="course-dialog export-table">
                <h3>您是否已经有排课表？</h3>
                <ul class="yui3-g">
                    <li class="yui3-u-1-2">
                        <a href="javascript:void(0)" class="tablink" getbox=".newcreate">没有，我要新建</a>
                    </li>
                    <li class="yui3-u-1-2">
                        <a href="javascript:void(0)" class="tablink" getbox=".importtpl">是的，我要上传</a>
                    </li>
                </ul>
            </div>
            <div class="course-dialog newcreate" style="display: none">
                <p>尊敬的老师：</p>
                <p style="text-indent: 2em">新建排课任务任务前，您是否已经完善好了本次排课所需要的班级信息设置、课时设置、授课教师设置、课程设置呢？若还没有，您需要先去完善信息哦。</p>
                <div class="ft-button">
                    <a href="" class="yui3-u cp-button">已设置好，现在就要排课</a>
                    <a href="" class="yui3-u cp-button">先去完善信息</a>
                </div>
            </div>
            <div class="course-dialog importtpl" style="display: none">
                <p>请下载<a href="">课程表模板</a>，将您已有的课程表编辑成模板样式上传即可。</p>
                <label>上传课程信息表：<input type="file" class=""/></label>
            </div>
        </div>
    </div>
</div>

<div id="export-table" style="display: none">
    <div class="cmspages-dialog">
        <div class="cmspages-dialog-hd">
            <h3>导出课表</h3>
        </div>
        <div class="cmspages-dialog-bd">
            <div class="course-dialog export-table">
                <h3>请选择课表类型</h3>
                <ul class="yui3-g">
                    <li class="yui3-u-1-4">
                        <a href="">全校班级课程表</a>
                    </li>
                    <li class="yui3-u-1-4">
                        <a href="">全校教师授课表</a>
                    </li>
                    <li class="yui3-u-1-4">
                        <a href="">全校总课程表</a>
                    </li>
                    <li class="yui3-u-1-4">
                        <a href="">小教科总表</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="teach-or-course" style="display: none">
    <div class="cmspages-dialog">
        <div class="cmspages-dialog-hd">
            <h3>临时调课</h3>
        </div>
        <div class="cmspages-dialog-bd">
            <div class="course-dialog teach-or-course">
                <ul class="cmspages-dialog-bind-account">
                    <li class="yui3-g">
                        <label class="yui3-u">时间：</label>
                        <select name="" id="" class="yui3-u">
                            <option value="1">第1周</option>
                            <option value="1">第2周</option>
                        </select>
                    </li>
                    <li class="yui3-g">
                        <label class="yui3-u">调课类型：</label>
                        <select name="" id="" class="yui3-u">
                            <option value="1">调换课程</option>
                            <option value="1">更换教师</option>
                        </select>
                    </li>
                    <li class="yui3-g">
                        <label class="yui3-u"></label>
                        <button class="yui3-u cp-button">确定</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="change-teach" style="display: none;">
    <div class="cmspages-dialog">
        <div class="cmspages-dialog-hd">
            <h3>临时调课</h3>
        </div>
        <div class="cmspages-dialog-bd">
            <div class="course-dialog change-teach">
                <p class="prompt yui3-u">提示：点击需要更换的教师，重新选择教师即可。</p>
                <button class="yui3-u cp-button">保存</button>
                <table class="pub-table" style="width: 800px">
                <thead>
                <tr>
                    <th class="yui3-u-1-6">时间</th>
                    <th class="yui3-u-1-6">周一</th>
                    <th class="yui3-u-1-6">周二</th>
                    <th class="yui3-u-1-6">周三</th>
                    <th class="yui3-u-1-6">周四</th>
                    <th class="yui3-u-1-6">周五</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>7:40-8:00</p>
                    </td>
                    <td colspan="5">
                        <p>早读</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>第一节</p>
                        <p>8:00-8:45</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                    <td>
                        <p>语文</p>
                        <p>李晓军</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                    <td>
                        <p>语文</p>
                        <p>李晓军</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>第二节</p>
                        <p>8:55-9:40</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                    <td>
                        <p>语文</p>
                        <p>李晓军</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                    <td>
                        <p>语文</p>
                        <p>李晓军</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>9:40-10:00</p>
                    </td>
                    <td colspan="5">
                        <p>课间操</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>第三节</p>
                        <p>10:00-10:45</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                    <td>
                        <p>语文</p>
                        <p>李晓军</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                    <td>
                        <p>语文</p>
                        <p>李晓军</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>10:45-11:05</p>
                    </td>
                    <td colspan="5">
                        <p>眼保健操</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>第四节</p>
                        <p>11:05-11:50</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                    <td>
                        <p>语文</p>
                        <p>李晓军</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                    <td>
                        <p>语文</p>
                        <p>李晓军</p>
                    </td>
                    <td>
                        <p>数学</p>
                        <p>张红</p>
                    </td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--临时调课-->
<div id="timetable-dialog" style="position: absolute;top: -9999px;">
    <div class="cmspages-dialog">
        <div class="cmspages-dialog-hd">
            <h3>临时调整课程</h3>
        </div>
        <div class="cmspages-dialog-bd">
        <div class="timetable-wrap">
        <div class="drop-nav yui3-g">
            <div class="left yui3-u-1">
                <p class="prompt yui3-u">提示：将需要调整的课程拖到待排课程中，再重新拖到待排空位即可。</p>
                <fieldset>
                    <legend>待排课程</legend>
                </fieldset>

            </div>
        </div>
        <div class="timetable">
            <table class="pub-table">
                <thead>
                    <tr>
                        <th class="" style="width: 115px">时间</th>
                        <th class="" style="width: 115px">周一</th>
                        <th class="" style="width: 115px">周二</th>
                        <th class="" style="width: 115px">周三</th>
                        <th class="" style="width: 115px">周四</th>
                        <th class="" style="width: 115px">周五</th>
                    </tr>
                </thead>
                <tbody id="timetable">

                </tbody>
            </table>
            <div class="button">
                <button class="yui3-u cp-button">保存</button>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
<!--临时调课 end-->

<script src="../assets/js/lib/jquery.js"></script>
<script src="../assets/js/require.js"></script>
<script>
    require(["easyui/easyloader","lib/dialog"],function(){
        require(["core/timetable"])
        $(".tablink").on("click",function(){
            $(this).closest(".export-table").hide()
            $($(this).attr("getbox")).show()
        })
        $('.nyroModal').nyroModal({closeButton: '<a href="#" class="nyroModalClose nyroModalCloseButton nmReposition fa fa-times-circle fa-2x" title="close"></a>'});
    })
</script>
</body>
</html>